*{
  font-family: sans-serif;
  scroll-behavior: smooth;
  margin: 0;
}
body {
    background-color: #2A2A2A;
    color: white;
}

button:disabled,
button[disabled] {
  opacity: 0.5;
}

button{
  outline: none;
  border: 0
}

main {
    display: block;
    margin-top: 50px
}

code {
  font-size: 12px;
  font-family: monospace;
  text-align: left;
  line-height: 20px;
}
.h #log{
  opacity: 1
}

#log{
  padding: 10px;
  width: 90%;
  border: 2px solid #FFFFFF;
  border-radius: 8px;
  text-align: left;
  opacity: 0;
  transition: 500ms
}

.box{
  display: inline-block;
  margin: 2%
}

input {
    border-radius: 5px;
    width: 250pt;
    background: #FFFFFF;
    color: black;
    height: 20px;
    border: 5px solid white;
    outline: none;
    transition: 500ms;
}
input:focus{box-shadow: 0 0 12px rgba(255,255,255,0.5)}

main p{
  font-weight: 600;
  padding-top: 5px;
  margin-bottom: 8px;
}

#button{
 background: linear-gradient(-45deg,#FF0D64,#830DFF,#0D9DFF);
 margin: 10px;
 border-radius: 10px;
 color: white;
 font-weight: 500;
 font-size: 16px;
 background-size: 400% 400%;
  animation: button 15s ease infinite;
  transition: 500ms;
  padding: 12px 120px;
  display: inline-block;
}

main div a{ text-decoration: none; color: white}

@keyframes button{
0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#button:active{
  box-shadow: 0 7px 14px rgba(0,0,0,0.5);
  transform: translateY(-5px)
}

hr{
  color: #FFFFFF;
  width: 90%;
  border-top: 5px;
  border-color: #FFFFFF;
}

#head{
  background: #FFFFFF;
  position: fixed;
  width: 100%;
  top: 0;
  text-align: center;
  text-align: center;
  height: 50px;
  color: black;
  box-shadow: 0 0px 22px black;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  
}
#head h2{
  padding-top: 10px;padding-right: 30px;
}

::-webkit-scrollbar {
    width: 15px;
    background-color: rgb(42, 42, 43);
    border-radius: 9px;
}

::-webkit-scrollbar-thumb {
background-color: rgb(89, 89, 90);
border-radius: 9px;
}

footer{
  background: linear-gradient(180deg,#2A2A2A ,#000000);
  width: 100%;
  height: 95px;
  margin-top: 15%;
  color: white;
  font-size: 14px;
  line-height: 22px;
  padding-top: 10px;
  position: sticky;
  bottom: 0;
  left: 0;
  }
  
#cr{
  opacity: 0.5;
  padding-top: 8px;
  font-size: 12px
}
footer a{
  color: #FF79EB;
  text-decoration-style: dotted;
}

#a{margin-left: 5px;margin-right: 5px}

#support{
  margin-top: 4px;
  margin-right: 5%;
  position: fixed;
  top: 0;
  right: 0;
  transition: 500ms;
  background: #F5F5F5;
  border-radius: 100px
}

img{
  text-decoration: none;
  width: 40px
}

span{
  font-weight: 700;
  font-family: 'Courier New', Courier, monospace
}
